body {
    background-color: black;
}


h1, h2, h3 {
    font-family: 'Dancing Script', cursive;

    text-align: center;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c09725;
}
  
.wallet {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}
.wallet img:hover{ 
    transform: scale(1.02);
}
.wallet img:active{ 
    transform: scale(0.98);
}

.clickercontainer {
    position: absolute;
    left: 10%;
    top: 25%;
}
.clickercontainer img:hover{ 
    transform: scale(1.02);
    
}
.clickercontainer img:active{ 
    transform: scale(0.98);
}

.row {
    position: absolute;
    right: 10%;
    top: 15%;
    display: grid;
    padding-right: 0%;
}

.btn {
    font-size: 0.8em;
    width: 86.5px;
}
.btn:active {
    filter: grayscale(0.2) brightness(1.2);
    transform: scale(0.95);
}
.btn,
.btn-price p {
    text-decoration: none;
}
.btn-price p {
    margin-top: 5px;
    font-size: 1.6em;
    color: #808080;
    padding: 4px 2px;
}
.btn img {
    justify-self: center;
    width: 70%;
}
span.active {
    color: #fff;
}

.becoin {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.fallingcoin{
    visibility: visible;
    left: 38%;
    position:absolute;
    top: -350px;
    width:23%;
    height: auto;
    animation: drop 1.3s ease forwards;
    animation-iteration-count: 1;
  }
  
  @keyframes drop{
    100%{opacity: 90%;}
    100%{transform: translateY(800px)}
    
  }  




